  @media screen and (min-width: 768px) {

    /* Hide hamburger */

    .hamburger {
        display: none;
    }

    /* Always show nav */

    nav {
        display: block;
    }

    /* Horizontal menu */

    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1;
    }

    .navigation a {
        background: #222;
        text-align: center;
        border: none;
    }
}

@media (min-width:768px){

.cards{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:1rem;
}

}

@media (min-width: 768px) {

    .hamburger {
        display: none;
    }

    nav {
        display: block;
        background: #222;
    }

    .navigation {
        display: flex;
        justify-content: space-evenly;
    }

    .navigation li {
        flex: 1;
    }

    .navigation a {
        border: none;
        text-align: center;
        padding: 1rem;
    }
}